# URL for connecting to the database, should include auth info and the database's name.
DATABASE_URL=postgres://postgres:password@localhost:5432/database

# The internal address which the auth service will be hosted on and/or connected to by other services via.
AUTH_SERVICE_ADDRESS=https://127.0.0.1:8081
# The internal address which file service will be hosted on and/or connected to by other services via.
FILE_SERVICE_ADDRESS=https://127.0.0.1:8080
# The internal address which message service will be hosted on and/or connected to by other services via.
MESSAGE_SERVICE_ADDRESS=https://127.0.0.1:8082

# The public facing hostname of the auth service.
AUTH_SERVICE_HOSTNAME=https://auth.cursed.solutions
# The public facing hostname of the file service.
FILE_SERVICE_HOSTNAME=https://files.cursed.solutions
# The public facing hostname of the message service.
MESSAGE_SERVICE_HOSTNAME=https://api.cursed.solutions

# Path to where the file service should store files.
FILE_BASE_URL=/user/whatever/idk

# Paths to the ssl keys and certs to use.
AUTH_SERVICE_KEY=.\\.ssl\\auth_service_key.pem
AUTH_SERVICE_CERT=.\\.ssl\\auth_service_cert.pem
FILE_SERVICE_KEY=.\\.ssl\\file_service_key.pem
FILE_SERVICE_CERT=.\\.ssl\\file_service_cert.pem
MESSAGE_SERVICE_KEY=.\\.ssl\\message_service_key.pem
MESSAGE_SERVICE_CERT=.\\.ssl\\message_service_cert.pem

# Logging level the service(s) should use, unless you're debugging stuff this should usually be left as
# INFO or WARNING
LOG_LEVEL=INFO
